[Unit]
Description=kishinami
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/opt/kishinami
ExecStart=/opt/kishinami/python/bin/python3 /opt/kishinami/run.py
TimeoutStopSec=5
StandardOutput=null
User=pi
Group=pi

[Install]
WantedBy = multi-user.target
