[Unit]
Description=takanami
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/hirose/opt/takanami
ExecStart=/usr/bin/python3 run.py
TimeoutStopSec=5
StandardOutput=null
User=hirose
Group=hirose

[Install]
WantedBy = multi-user.target
